.u-wrapper {
    max-width: var(--xlarge-screen);
    margin: 0 auto;
    padding: 0 1.25rem;
    overflow: hidden;
}

.u-wrapperSpace {
    padding: 1.875rem 1.25rem;
}


.u-wrapperSpaceSm {
    padding: .625rem 1.25rem .625rem 1.25rem;
}

@media (min-width: 57.5rem) {
    .u-wrapperSpace {
        padding: 3.125rem 1.25rem;
    }

    .u-wrapperSpaceSm {
        padding: .625rem 1.25rem .625rem 1.25rem;
    }
}

.u-grid {
    display: grid;
    column-gap: 1.25rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.u-grid2 {
    grid-template-columns: repeat(2, auto);
    column-gap: 1.25rem
}

.u-grid3 {
    row-gap: 0;
    column-gap: 0;
    grid-template-columns: none;
    grid-template-rows: auto;
}

.u-grid4 {
    column-gap: 1.25rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 57.5rem) {
    .u-grid3 {
        column-gap: 1.25rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: none;
        row-gap: 0;
    }

    .u-grid4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.u-flex {
    display: flex;
    flex-direction: column;
}

.u-flexRow {
    flex-direction: row;
}

.u-flexSplit {
    justify-content: space-between;
}

.u-flexAlignCenter {
    align-items: center;
}

.u-flexJustifyCenter {
    justify-content: center;
}

.u-flexJustifyEnd {
    justify-content: flex-end;
}

.u-hidden {
    position: absolute;
    z-index: -99999;
    top: -624.9375rem;
    left: -624.9375rem;
}

.u-noListStyle {
    list-style: none;
}

.u-zIndex {
    z-index: 1;
}

.u-capitalize {
    text-transform: capitalize;
}

.u-shadowBlack {
    box-shadow: .0731rem .2391rem 1rem 0rem rgba(1, 2, 2, 0.35);
}

.u-shadowRed {
    box-shadow: 0rem .3125rem 0rem 0rem var(--primary-color-transparent);
}

@media (min-width: 35rem) {
    .u-shadowRed {
        box-shadow: 0rem .625rem 0rem 0rem var(--primary-color-transparent);
    }
}

.u-textWhite {
    color: #fff
}

.u-textCenter {
    text-align: center;
}