.u-wrapper {
    max-width: var(--xlarge-screen);
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.u-wrapperSpace {
    padding: 50px 20px;
}

.u-wrapperSpaceSm {
    padding: 10px 20px;
}

.u-grid {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.u-grid2 {
    grid-template-columns: repeat(2, auto);
    column-gap: 20px
}

.u-grid3 {
    column-gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.u-grid4 {
    column-gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.u-flex {
    display: flex;
    flex-direction: column;
}

.u-flexRow {
    flex-direction: row;
}

.u-flexSplit {
    justify-content: space-between;
}

.u-flexAlignCenter {
    align-items: center;
}

.u-flexJustifyCenter {
    justify-content: center;
}

.u-flexJustifyEnd {
    justify-content: flex-end;
}

.u-hidden {
    position: absolute;
    z-index: -99999;
    top: -9999px;
    left: -9999px;
}

.u-noListStyle {
    list-style: none;
}

.u-zIndex {
    z-index: 1;
}

.u-capitalize {
    text-transform: capitalize;
}

.u-shadowBlack {
    box-shadow: 1.1696px 3.8256px 16px 0px rgba(1, 2, 2, 0.35);
}

.u-shadowRed {
    box-shadow: 0px 10px 0px 0px var(--primary-color-transparent);
      
}

.u-shadowBlue {
    box-shadow: inset 0px 10px 0px 0px var(--sechondary-color-transparent); 
}

.u-textWhite {
    color: #fff
}

.u-textCenter {
    text-align: center;
}