:root {
    --primary-color: #ff3366;
    --primary-color-alt: rgb(244, 34, 103);
    --sechondary-color: #6633cc;
    --sechondary-color:  rgb(95, 63, 184);
    --tetiary: rgb(40, 29, 60);
    font-family: 'Courier New', Courier, monospace;
}