.Button {
    border-radius: 5px;
    outline: none;
    padding: 0;
    margin: 0;
    color: #fff;
    display: block;
    font-weight: 400;
    font-size: 16px;
    border: none;
}

.Button-lg {
    padding: 14px 27px;
}

.Button-sm {
    padding: 10px 14px;
}