.Heading {
    position: relative;
    font-weight: var(--font-semiBold);
    line-height: var(--line-height-sm);
}

.Heading > strong {
    font-weight: var(--font-semiBold);
}

.Heading > i {
    font-weight: var(--font-light);
    display: block;
    margin-bottom: 1.125rem;
}

.Heading > b {
    display: block;
    margin-bottom: .3125rem;
}