.Heading {
    position: relative;
    font-weight: 600;
    line-height: 1;
      
}

.Heading > strong {
    font-weight: 600;
}

.Heading > i {
    font-weight: 300;
    display: block;
    margin-bottom: 18px;
}

.Heading > b {
    display: block;
    margin-bottom: 5px;
}