.Header {
    position: relative;
    background-image: url("../../image/background/entrepreneur.png");
    background-attachment: scroll;
    background-position: top left;
    background-repeat: repeat;
    background-size: contain;
    color: #fff;
}

.Header::before {
    background-image: linear-gradient( 45deg, hsla(340, 86%, 54%, .8) 0%, rgba(68,46,130, .95) 99%);
}

.Header-logo {
    width: auto;
    grid-column: 1;
}

.Header-nav {
    grid-column: 2/-1;

}

.Header-content {
    margin-top: 24px;
    grid-column: 1/-1;
}

.Header-heading {
    font-size: 60px;
    margin-top: 65px;
    grid-column: 1;
    grid-row: 1;
}

.Header-heading > i {
    font-size: 30px;
}

.Header-desc {
    font-size: 24px;
    margin: 35px 0;
    grid-column: 1;
    grid-row: 2;
}

.Header-buttonWrapper {
    grid-column: 1;
    grid-row: 3;
}

.Header-button {
    border-radius: 25px;
}

.Header-buttonLeft {
    background-color: var(--primary-color);
}

.Header-buttonRight {
    background-color: var(--sechondary-color);
    margin-left: 20px;
}

.Header-img {
    filter: drop-shadow(3px 1px 10px var(--sechondary-color));
    height: 500px;
    grid-row: 1/4;
    grid-column: 2/-1;
}