nav {
    position: relative;
}

nav ul > li {
    padding: 0 1.125rem;
}

nav ul > li:first-child {
    padding-left: 0;
}

nav ul > li:last-child {
    padding-right: 0;
}

nav a {
    color: var(--default-white-color);
    font-size: 16px;
}